.information-right{
  grid-template-areas: 'image_side information_side';

  .cardproject_information_side{
    text-align: right;

    .card_information_side {
      right: 0;
      align-items: end;
    }

    .card-information{
      right: 0;
    }

    .icon_information_side{
      right: 0;
    }
  }
}

.information-left{
  grid-template-areas: 'information_side image_side';

  .cardproject_information_side{
    text-align: left;

    .card_information_side {
      left: 0;
      align-items: start;
    }

    .card-information{
      left: 0;
    }

    .icon_information_side{
      left: 0;
    }
  }
}

.cardproject{
  margin: 8rem 0;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

.cardproject_image {
    grid-area: image_side;
    img {
      height: auto;
      width: 100%;
      filter: grayscale(.7);

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  .cardproject_information_side {
    grid-area: information_side;

    .card_information_side {
      width: 70%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;

      .type-project {
        font-size: 12px;
        color: #999;
      }

      .name-project {
        font-size: 1.8rem;
        font-weight: 600;
      }

      .card_information {
        background: #263238;
        color: white;
        padding: 1rem;
        border-radius: 5px;
        font-size: .8rem;
        font-weight: 300;
        margin-top: 1rem;
        width: 100%;
        line-height: 21px;
      }

      .stack_tech_used {
        font-size: .8rem;
        color: #999;
        display: flex;

        p {
          margin: 1rem .5rem;
          letter-spacing: 1px;
        }
      }

      .icon_information_side {
        position: absolute;
        bottom: 0;
        cursor: pointer;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .information-right{
    grid-template-areas: 'image_side'
    'information_side';
    border: grey solid 1px;
    box-shadow: 5px 5px 0 $custom-color-2;
  }
  .information-left{
    grid-template-areas: 'image_side'
    'information_side';
    border: grey solid 1px;
    box-shadow: -5px 5px 0 $custom-color-2;
  }

  .cardproject{
    grid-template-columns: none;
  }

  .cardproject_information_side{
        width: 100%;
    height: 100%;
    text-align: initial;
  }

  .card_information_side{
    width: 100% !important;
    height: auto !important;
    position: initial !important;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .icon_information_side{
    position: initial !important;
  }

  .card_information{
    background: $custom-color-3 !important;
    padding:0 !important;
  }
}

@media (max-width: 1200px) { 
  .icon_information_side{
    position: initial !important;

    a{
      padding: .5rem;
    }
  }
}

